<div class="container">
	<div class="row">
		<div class="col-md-12 transparent select-hero">
			<h3 class="t-center">Selecione seu herói</h3>
			<div class="future" ng-repeat="heroes in hero.heroInfo track by $index">
				<div class="col-md-4 text-center" ng-click="hero.changedHero(heroes)">
					<div class="bordered" ng-class="{'bg-green': heroes.selected}">
						<img ng-src="{{'images/heroes/' + heroes.name +'_waiting.gif'}}" class="img-responsive centered" />
						<h2>{{heroes.name}} </h2>
						<p ng-repeat="c in heroes.combo">{{c.name}} - Dano: {{c.power}}</p>
						<button class="btn btn-hs-1 show-on-hover centered" ng-click="hero.sendHero(heroes)">Selecionar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>