.hero-and-life-bar {
  height: 100%;
}

.hero-and-life-bar img{
  position: absolute;
  bottom: 0;
  max-height: 340px;
  max-width: 100%;
}

.enemy img {
  right: 0;
}

.life-bar {
    height: 50px;
    width: 380px;
    margin-top: 50px;
    margin: 35px auto;
    border: solid rgba(232, 255, 5, 0.54) 1px;
    border-radius: 4px;
}

.life {
  height: 100%;
  background: red;
  background: -webkit-linear-gradient(left top, red, yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, red, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, red, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, red, yellow); /* Standard syntax */
}

.life p {
  font-size: 25px;
  text-align: center;
  line-height: 44px;
}

@keyframes attack {
  0% { left: 0 }
  10% { left: 40%}
  20% { left: 120% }
  40% { left: 120% }
  50% { left: 120% }
  60% { left: 120% }
  70% { left: 50% }
  80% { left: 20% }
  90% { left: 10% }
  100% {left: 0 }
}

@keyframes attack-enemy {
  0% { left: 30% }
  10% { left: 0 }
  20% { left: -30% }
  40% { left: -65% }
  50% { left: -65% }
  60% { left: -65% }
  70% { left: -30% }
  80% { left: 0 }
  90% { left: 30% }
  100% {right: 0 }
}

.attack {
  -webkit-animation: attack 3s ease-in; /* Safari 4+ */
  -moz-animation:    attack 3s ease-in; /* Fx 5+ */
  -o-animation:      attack 3s ease-in; /* Opera 12+ */
  animation:         attack 5s ease-in; /* IE 10+, Fx 29+ */
}

.attack-enemy {
  -webkit-animation: attack-enemy 3s ease-in; /* Safari 4+ */
  -moz-animation:    attack-enemy 3s ease-in; /* Fx 5+ */
  -o-animation:      attack-enemy 3s ease-in; /* Opera 12+ */
  animation:         attack-enemy 3s ease-in; /* IE 10+, Fx 29+ */
}