.full-bg .bg-1 {
  background-image: url(../images/background.jpg);
  height: 500px;
  background-size: contain;
}

.home-hero {
  position: absolute;
  bottom: 50px;
  height: 260px;
}

.home-button-area {
  position: absolute;
  bottom: 15px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.btn-exit {
  margin-right: 200px;
}