.full-bg .bg-1 {
  background-image: url("../images/scenario-1.jpg");
  height: 500px;
}

.home-hero {
  position: absolute;
  bottom: 50px;
  height: 260px;
}

.home-button-area {
  position: absolute;
  bottom: 15px;
  width: 100%;
}

.full-width {
  width: 100%;
}
