<div class="container-fluid game-box">
    <div class="full-bg bg-1">
        <img ng-src="images/heroes/bartolomeo_waiting.gif" class="home-hero"></img>
    </div>
    <div class="home-button-area">
        <div class="row">
            <div class=" col-md-2">
                <button class="btn btn-danger btn-lg full-width" ng-click="home.toExit()">Saída</button>
            </div>
            <div class="col-md-offset-2 col-md-2">
                <button class="btn btn-primary btn-lg full-width" ng-click="home.toProfile()">Perfil</button>     
            </div>
            <div class="col-md-2">
                <button class="btn btn-success btn-lg full-width" ng-click="home.toFight()">Batalhar</button>
            </div>
        </div>
    </div>
</div>