@import url("heroes/heroes.css");
@import url("home/home.css");
@import url("in-game/in-game.css");
@import url("login/login.css");
@import url("login/login.css");
@import url("ranking/ranking.css");
@import url("scenario/scenario.css");
@import url("subscribe/subscribe.css");
@import url("components/helper.css");
@import url("components/boxes.css");


.background {
	min-height: 768px;
	height: 100%;
	width: 100%;
	background: url("images/login-screen.jpg") no-repeat center center;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}