.login-screen {
	min-height: 768px;
	height: 100%;
	width: 100%;
  background: url("../images/login-screen.jpg") no-repeat center center;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.p-20 {
	padding: 20px;
}

.login-logo {
  padding: 20px 50px 10px 50px;
}

.login-area {
  margin-top: 15%;
}
