<div class="container-fluid login-screen">
  <div class="md-box col-md-12 login-area">
    <h3 class="t-center">Hero Sequence</h3>
    <h4 class="t-center">Faça login para jogar</h4>
    <form class="col-md-offset-2 col-md-8">
      <div class="form-group" ng-repeat="field in login.loginFields track by $index">
        <input class="hs-input" ng-model="login.user[field.name]" placeholder="{{field.placeholder}}" type="{{field.type}}" required>
      </div>
      <div class="form-group t-center">
      	<button class="btn btn-hs-1 btn-lg btn-exit" ng-click="login.doLogin()">Entrar</button>
      	<button class="btn btn-hs-2 btn-lg" ng-click="login.goToRegister()">Cadastrar</button>
      </div>
    </form>
    <div class="alert {{login.alertStatus}}">
      {{login.alertMessage}}
    </div> 
  </div>
</div>
