.game-box .fight {
  height: 700px;
  border-radius: 13px;
  margin-top: 5px;
  border: solid black 2px;
}

.hero-area {
  height: 100%;
}

.control-area {
  height: 120px;
  width: 350px;
  background: rgba(0, 0, 0, 0.47);
  z-index: 99;
  position: absolute;
  top: 103%;
  margin-bottom: 80px;
}

.control-area .buttom {
  height: 50%;
  border: solid white 1px;
  font-size: 26px;
  text-align: center;
  line-height: 54px;
}