.game-box .fight {
  min-height: 550px;
  height: 95vh;
  border-radius: 13px;
  margin-top: 5px;
  border: solid black 2px;
}

.bg {
  background-size: cover;
}

.hero-area {
  height: 100%;
}

.control-area {
  height: 60px;
  width: 350px;
  background: rgba(0, 0, 0, 0.47);
  z-index: 99;
  position: absolute;
  top: 20%;
  left: 11%;
}

.control-area .buttom {
  height: 100%;
  border: solid white 1px;
  font-size: 26px;
  text-align: center;
  line-height: 54px;
}

.attack-time {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 80px;
  left: 0;
}